 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .inter-font {
     font-family: "Inter", sans-serif;
     font-optical-sizing: auto;
     font-weight: normal;
     font-style: normal;
 }

 .head {
     background: linear-gradient(360.00deg, rgb(7, 7, 7), rgb(51, 50, 50) 100%);
     position: relative;
     width: 1440px;
     height: 715px;
     margin: 0;
     padding-top: 2%;
 }

 /* nav section */
 .nav-bar {
     display: flex;
     justify-content: space-between;
     width: 1060px;
     height: 46px;
     margin: 57px 190px 612px 190px;
     padding: 0px;
     align-items: center;
 }

 .nav-text {
     font-style: italic;
     font-weight: 800;
     color: rgb(230, 83, 60);
 }

 .nav-options {
     list-style: none;
     display: flex;
     box-sizing: border-box;
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 39px;
 }

 .options {
     display: flex;
     width: 450px;
     height: 46px;
     color: rgb(255, 255, 255);
     align-items: center;
     justify-content: space-evenly;
     padding: 4px;
 }

 .btn {
     border-radius: 46px;
     background: rgb(230, 83, 60);
     color: rgb(255, 255, 255);
     width: 92px;
     height: 45px;
     border: none;
     margin: auto;
     padding: 4px;
 }

 .header-title {
     margin: 28px 0px;
     color: rgb(255, 255, 255);
     margin-top: -550px;
     padding-left: 180px;

 }

 .header-title span {
     font-family: 'Miama', sans-serif;
 }

 .header-title h2 {
     font-weight: 900;
     width: 550px;
     height: 240px;
     padding: 0px;
     font-size: 78px;
 }

 .header-content {
     color: rgba(255, 255, 255, 0.5);
     width: 47%;
     height: 48px;
     margin-top: 7%;
     padding-left: 180px;
 }

 .header-image {
     background-image: url(../images/Images\ 2.png);
     float: right;
     width: 349px;
     height: 580px;
     margin-top: -400px;
     margin-right: 250px;
 }

 .btn1 {
     border-radius: 42px;
     background: rgb(230, 83, 60);
     width: 224px;
     height: 54px;
     border: none;
     margin-top: 8%;
     color: rgb(255, 255, 255);
     font-size: 18px;
     font-weight: 600;
 }

 .btn2 {
     box-sizing: border-box;
     border-radius: 42px;
     background-color: rgb(51, 50, 50);
     color: rgb(255, 255, 255);
     width: 224px;
     height: 54px;
     border: 1px solid whitesmoke;
     margin-left: 2%;
 }

 .trans-btn {
     box-sizing: border-box;
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 12px;
     backdrop-filter: blur(20px);
     background: rgba(255, 255, 255, 0.1);
     position: relative;
     width: 193px;
     height: 98px;
     left: 260px;
     top: 160px;
     color: rgb(255, 255, 255);
     font-size: 40px;
     font-weight: 900;
 }

 .trans-btn p {
     font-size: 13px;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.65);
 }

 .trans-btn-2 {
     box-sizing: border-box;
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 12px;
     backdrop-filter: blur(20px);
     background: rgba(48, 48, 48, 0.54);
     width: 206px;
     height: 96px;
     position: relative;
     left: -100px;
     top: 320px;
     color: rgb(250, 250, 249);
     font-size: 24px;
     font-weight: 900;
 }

 /* .trans-btn-2 circle{
    width: 40px;
    height: 40px;
    color: rgb(230, 83, 60);
} */
 .trans-btn-2 p {
     color: rgba(239, 237, 232, 0.65);
     font-size: 16px;
     font-weight: 400;
 }

 .pont {}


 .main {
     margin-bottom: 100px;
 }

 /* .main-head{
    width: 476px;
height: 58px;
color: rgb(255, 255, 255);

}   */

 .second-part {
     background-color: rgb(7, 7, 7);
     width: 1440px;
     height: 2500px;
     padding-top: 7%;
 }

 h1 {
     color: white;
     font-size: 48px;
     font-weight: 900px;
     text-align: center;
 }

 .second-part p {
     color: rgba(255, 255, 255, 0.5);
     font-size: 14px;
     font-weight: 400px;
     width: 42%;
     text-align: center;
     padding-top: 1%;
     margin-left: 27%;
 }

 .habit-img img {
     width: 60%;
     height: 65%;
     border-radius: 50%;
     display: block;
 }

 .habit-img {
     display: flex;
     justify-content: space-evenly;
     padding-left: 12%;
     margin-top: 5%;
 }

 .habit-img h6 {
     color: rgb(255, 255, 255);
     font-size: 18px;
     font-weight: 600;
     margin-left: 21%;
     margin-top: 5%;
 }

 .habit-img p {
     color: rgba(255, 255, 255, 0.5);
     font-size: 14px;
     font-weight: 400;
     width: 80%;
     margin-left: -5%;
     margin-top: 5%;
 }

 .extra {
     width: 75%;
     height: 15%;
     background: rgb(34, 34, 34);
     margin-left: 13%;
     border-radius: 18px;
     margin-top: 5%;
 }

 .extra-mile h2 {
     color: rgb(255, 255, 255);
     font-size: 48px;
     font-weight: 900;
     text-align: left;
     width: 34%;
     padding-left: 3%;
     padding-top: 2%;
 }

 .extra-mile p {
     color: rgba(255, 255, 255, 0.5);
     font-size: 14px;
     font-weight: 400;
     text-align: left;
     margin-top: 1%;
     margin-left: 3%;
 }

 .extra-mile .btn1 {
     margin-top: 3%;
     margin-left: 3%;
     color: rgb(255, 255, 255);
     font-size: 18px;
     font-weight: 600;
 }

 .run img {
     width: 25%;
     height: 40%;
     border: 1px solid wheat;
     position: relative;
     float: right;
     margin-top: -21%;
     margin-right: 4%;
 }

 .cal-title h2 {
     color: rgb(255, 255, 255);
     font-size: 48px;
     font-weight: 900;
     margin-top: 5%;
     margin-left: 27%;
 }

 .cal-title p {
     text-align: left;
 }

 /* Making BMI chart  */
 table {
     border-collapse: collapse;
 }

 .chart {
     color: rgb(255, 255, 255);
     font-size: 28px;
     font-weight: 900;
 }

 .cal-chart table {
     width: 30%;
     height: 50%;
     margin-left: 5%;
     /* border: 2px solid yellow; */
 }

 .chart th {
     color: rgb(255, 255, 255);
     font-size: 16px;
     font-weight: 500;
     border: 1px solid rgba(255, 255, 255, 0.1);
 }

 .chart td {
     color: rgba(255, 255, 255, 0.5);
     font-size: 14px;
     font-weight: 400;
     border: 1px solid rgba(255, 255, 255, 0.1);
 }

 caption {
     padding: 10%;
 }

 th,
 td {
     padding: 3%;
 }

 /* Calculate BMI */
 .bmi {
     color: rgb(255, 255, 255);
     font-size: 28px;
     font-weight: 900;
     float: right;
     margin-top: -21%;
 }

 .bmi p {
     width: 90%;
     color: rgba(255, 255, 255, 0.5);
     font-size: 14px;
     font-weight: 400;
     margin-left: -0%;
     text-align: left;
 }

 input[type=text] {
     padding: 12px 20px;
     margin: 8px 0;
     box-sizing: border-box;
     border: none;
     border-radius: 8px;
     background: rgba(255, 255, 255, 0.1);
     color: white;
 }

 #f1 {
     width: 17rem;
     color: rgba(255, 255, 255, 0.6);
     font-size: 16px;
     font-weight: 400;
 }

 #f2 {
     width: 17rem;
     color: rgba(255, 255, 255, 0.6);
     font-size: 16px;
     font-weight: 400;
 }

 #f3 {
     width: 17rem;
     color: rgba(255, 255, 255, 0.6);
     font-size: 16px;
     font-weight: 400;
 }

 #f4 {
     width: 17rem;
     color: rgba(255, 255, 255, 0.6);
     font-size: 16px;
     font-weight: 400;
 }

 #f5 {
     width: 36rem;
     color: rgba(255, 255, 255, 0.6);
     font-size: 16px;
     font-weight: 400;
 }

 .line1 {
     display: flex;
     justify-content: space-between;
     width: 80%;
     margin-top: 3%;
 }

 .line2 {
     display: flex;
     justify-content: space-between;
     width: 80%;
 }

 .bmi .btn1 {
     margin-top: 2%;
     color: rgb(255, 255, 255);
     font-size: 18px;
     font-weight: 600;
 }

 .info {
     background-color: rgb(34, 34, 34);
     height: 18%;
     margin-top: 5%;
 }

 /* creating team section */
 .team {
     width: 100%;
     height: 1000px;
 }

 .team h2 {
     color: rgb(255, 255, 255);
     font-size: 48px;
     font-weight: 900;
     margin-top: 5%;
     text-align: center;
 }

 .team p {
     margin-top: 0;
 }
 .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 1000px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem 1rem 1rem 1rem;
    margin-left: 14%;
    border-radius: 18px;
    margin-top: 3%;
}

.trainer {
    border-radius: 18px;
    overflow: hidden;
    transition: transform 0.2s;
}

.trainer img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.trainer .info {
    padding: 15px;
}

.trainer h5 {
    margin-top:-20%;
    margin-left: 5%;
    color: azure;
    font-size: 1rem;
}
.trainer p {
    margin-left:-9% ;
}

.trainer:hover {
    transform: scale(1.05);
}
 /* creating footer section */
 .foot {
     background: rgb(27, 25, 25);
     width: 100%;
     height: 300px;
margin-top: -7%;
     display: flex;
     justify-content: space-between;
 }

 .fit {
     margin-left: 5%;
     padding-top: 3%;
     width: 30%;
 }

 .fit h2 {
     color: rgb(230, 83, 60);
     font-size: 70px;
     font-weight: 800;
 }

 .fit p {
     color: rgba(255, 255, 255, 0.5);
     font-size: 14px;
     font-weight: 400;
     margin-top: 2%;

 }

 .get {
     margin-left: 15%;
     margin-top: 3%;
     width: 30%;
 }

 .get h3 {
     color: rgb(255, 255, 255);
     font-size: 32px;
     font-weight: 700;
     padding-bottom: 3%;
 }

 .get h4 {
     color: rgba(255, 255, 255, 0.5);
     font-size: 23px;
     font-weight: 400;
     padding: 2%; 
 }

 .started {
     /* margin-left: 5%; */
     margin-top: 3%;
     width: 30%;
 }

 .started h3 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 3%;
 }

 .started h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
    padding: 2%; 
 }
